<nz-card
[id]="'card-' + this.index"
[class]="((this.selected != null) && (this.selected != this.index)) ? 'blur' : ''">
  <div class="row">
    <div class="col-12">
      <label>Posición Horizontal (mm):</label>
      <div class="row">
        <div class="col-6">
          <nz-slider nzRange
          [nzTooltipVisible]="'never'"
          [nzMin]="0"
          [nzMax]="this.width"
          [nzStep]="this.step"
          [ngModel]="[ this.model.x, this.model.x + this.model.width ]"
          (ngModelChange)="this.model.x      = $event[0];"
          (ngModelChange)="this.model.width  = $event[1] - $event[0]"
          (ngModelChange)="this.onChange()"
          (click)="this.onFocus()">
          </nz-slider>
        </div>

        <nz-input-group
        class="col-3"
        nzAddOnBefore="x">
          <nz-input-number
          [nzStep]="this.step"
          [nzMin]="0"
          [nzMax]="this.width"
          [(ngModel)]="this.model.x"
          (ngModelChange)="this.onChange()"
          (nzFocus)="this.onFocus()"
          (nzBlur)="this.onBlur()">
          </nz-input-number>
        </nz-input-group>

        <nz-input-group
        class="col-3"
        nzAddOnBeforeIcon="column-width">
          <nz-input-number
          [nzStep]="this.step"
          [nzMin]="0"
          [nzMax]="this.width"
          [(ngModel)]="this.model.width"
          (ngModelChange)="this.onChange()"
          (nzFocus)="this.onFocus()"
          (nzBlur)="this.onBlur()">
          </nz-input-number>
        </nz-input-group>
      </div>
    </div>

    <div class="col-12">
      <label>Posición Vertical (mm):</label>
      <div class="row">
        <div class="col-6">
          <nz-slider nzRange
          [nzTooltipVisible]="'never'"
          [nzMin]="0"
          [nzMax]="this.height"
          [nzStep]="this.step"
          [ngModel]="[ this.model.y, this.model.y + this.model.height ]"
          (ngModelChange)="this.model.y       = $event[0]"
          (ngModelChange)="this.model.height  = $event[1] - $event[0]"
          (ngModelChange)="this.onChange()"
          (click)="this.onFocus()">
          </nz-slider>
        </div>

        <nz-input-group
        class="col-3"
        nzAddOnBefore="y">
          <nz-input-number
          [nzStep]="this.step"
          [nzMin]="0"
          [nzMax]="this.height"
          [(ngModel)]="this.model.y"
          (ngModelChange)="this.onChange()"
          (nzFocus)="this.onFocus()"
          (nzBlur)="this.onBlur()">
          </nz-input-number>
        </nz-input-group>

        <nz-input-group
        class="col-3"
        nzAddOnBeforeIcon="column-height">
          <nz-input-number
          [nzStep]="this.step"
          [nzMin]="0"
          [nzMax]="this.height"
          [(ngModel)]="this.model.height"
          (ngModelChange)="this.onChange()"
          (nzFocus)="this.onFocus()"
          (nzBlur)="this.onBlur()">
          </nz-input-number>
        </nz-input-group>
      </div>
    </div>

    <div class="col-6">
      <label>Ancho línea (mm):</label>
      <div class="row">
        <div class="col-6">
          <nz-slider
          [nzTooltipVisible]="'never'"
          [nzMin]="0"
          [nzMax]="5"
          [nzStep]="this.step"
          [(ngModel)]="this.model.lineWidth"
          (ngModelChange)="this.onChange()"
          (click)="this.onFocus()">
          </nz-slider>
        </div>

        <nz-input-group
        class="col-6"
        nzAddOnBeforeIcon="border-horizontal">
          <nz-input-number
          [nzStep]="this.step"
          [nzMin]="0"
          [nzMax]="5"
          [(ngModel)]="this.model.lineWidth"
          (ngModelChange)="this.onChange()"
          (nzFocus)="this.onFocus()"
          (nzBlur)="this.onBlur()">
          </nz-input-number>
        </nz-input-group>
      </div>
    </div>

    <div class="col-6">
      <label>Radio Costado (mm):</label>
      <div class="row">
        <div class="col-6">
          <nz-slider
          [nzTooltipVisible]="'never'"
          [nzMin]="0"
          [nzMax]="(this.width >= this.height) ? this.width : this.height"
          [nzStep]="this.step"
          [(ngModel)]="this.model.cornerRadius"
          (ngModelChange)="this.onChange()"
          (click)="this.onFocus()">
          </nz-slider>
        </div>

        <nz-input-group
        class="col-6"
        nzAddOnBeforeIcon="radius-upleft">
          <nz-input-number
          [nzStep]="this.step"
          [nzMin]="0"
          [nzMax]="(this.width >= this.height) ? this.width : this.height"
          [(ngModel)]="this.model.cornerRadius"
          (ngModelChange)="this.onChange()"
          (nzFocus)="this.onFocus()"
          (nzBlur)="this.onBlur()">
          </nz-input-number>
        </nz-input-group>
      </div>
    </div>
  </div>
</nz-card>
