:host {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  -webkit-touch-callout:  none; /* iOS Safari */
  -webkit-user-select:    none; /* Safari */
   -khtml-user-select:    none; /* Konqueror HTML */
     -moz-user-select:    none; /* Old versions of Firefox */
      -ms-user-select:    none; /* Internet Explorer/Edge */
          user-select:    none; /* Non-prefixed version, currently
                                supported by Chrome, Opera and Firefox */
}

.icon {
  width: 100%;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0.5rem 0;
}

.text {
  width: 100%;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0.5rem 0;

  * {
    margin: 0;
  }

  h1 {
    font-size: 2rem;
  }
}
