<div nz-tooltip class="tooltip"
*ngIf="!this.expanded"
[nzTooltipPlacement]="'right'"
[nzTooltipTitle]="this.model.text">
</div>

<div class="main">
  <div class="icon"
  [innerHTML]="this.model.icon">
  </div>

  <div class="text">
    {{ this.model.text }}
  </div>

  <div class="tick {{ (this.open) ? 'open' : '' }}"
  *ngIf="this.model.children.length > 0">
    <i class="fas fa-plus"></i>
    <i class="fas fa-minus"></i>
  </div>
</div>

<div class="chld {{ (this.open) ? 'open' : '' }}"
*ngIf="this.model.children.length > 0">
  <app-side-menu-item
  *ngFor="let node of this.model.children"
  [model]="node">
  </app-side-menu-item>
</div>
