@import "./styles/colors.scss";

:host {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

nz-header {
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: $bg-primary-01;

  .logo {
    justify-content: flex-start;
    align-items: center;
    height: 100%;

    text-decoration: none;
    color: $fg-01;

    img {
      height: calc(100% - 1rem);
      width: auto;
    }

    span {
      padding-left: 1rem;
      padding-right: 1rem;
      font-weight: 700!important;
    }
  }
}
