@import "../../../styles/colors.scss";

:host {
  padding: 1rem;

  & > nz-card {
    width: 100%;
    height: 100%;
  }

  & .card-title {
    justify-content: space-between;
    width: 100%;

    .actions button {
      width: 3rem;
      margin: 0 0.5rem;
    }
  }
}

nz-table {
  th.actions, td.actions {
    width: 9rem;
  }

  td.actions button {
    margin: 0 0.5rem;
    width: 3rem;
  }

  nz-select {
    width: 100%;
  }

  /** Width **/
  tr {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    width: 100%;
  }

  tr > *:nth-child(1)  { width: calc(((100% - 10rem) / 100) * 20); }
  tr > *:nth-child(2)  { width: calc(((100% - 10rem) / 100) * 10); }
  tr > *:nth-child(3)  { width: calc(((100% - 10rem) / 100) * 10); }
  tr > *:nth-child(4)  { width: calc(((100% - 10rem) / 100) * 15); }
  tr > *:nth-child(5)  { width: calc(((100% - 10rem) / 100) * 15); }
  tr > *:nth-child(6)  { width: calc(((100% - 10rem) / 100) * 15); }
  tr > *:nth-child(7)  { width: calc(((100% - 10rem) / 100) * 15); }
  tr > *:nth-child(8)  { width: 10rem; }

  tr > *:nth-child(1) { min-width: 12rem; }
  tr > *:nth-child(2) { min-width:  8rem; }
  tr > *:nth-child(3) { min-width:  6rem; }
  tr > *:nth-child(4) { min-width: 10rem; }
  tr > *:nth-child(5) { min-width: 10rem; }
  tr > *:nth-child(6) { min-width: 10rem; }
  tr > *:nth-child(7) { min-width: 10rem; }

  tr > th {
    white-space: pre;
  }

  td.empty {
    color: $fg-02;
  }

  tr > td {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    height: 3rem;
    padding-top: 0;
    padding-bottom: 0;

    span {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow-x: hidden;
    }

    input, nz-select {
      width: 100%;
      margin: 0 -0.75rem;
    }
  }
}
