$bg-primary-01: #3d7e3d;
$bg-primary-01-hover: #4c924c;
$bg-primary-02: #2d662d;
$bg-primary-02-hover: #3a7a3a;
$bg-dark-01: #353535;
$bg-dark-01-hover: #4d4d4d;
$bg-dark-02: #202020;
$bg-dark-02-hover: #303030;

$bg-01: #202020;
$bg-02: #303030;
$bg-03: #404040;

$fg-01: #ffffff;
$fg-02: #d5d5d5;
$fg-02: #b1b1b1;

$btn-fg-disabled: rgba(0,0,0,.25);
$btn-fg-disabled-hover: rgba(0,0,0,.25);
$btn-fg-disabled-active: rgba(0,0,0,.25);

$btn-bg-disabled: #7d7d7d;
$btn-bg-disabled-hover: #7d7d7d;
$btn-bg-disabled-active: #7d7d7d;

$btn-fg-primary: #ffffff;
$btn-fg-primary-hover: #ffffff;
$btn-fg-primary-active: #ffffff;

$btn-bg-primary: #1890ff;
$btn-bg-primary-hover: #40a9ff;
$btn-bg-primary-active: #096dd9;

$btn-fg-secondary: #ffffff;
$btn-fg-secondary-hover: #ffffff;
$btn-fg-secondary-active: #ffffff;

$btn-bg-secondary: #e2328a;
$btn-bg-secondary-hover: #ff57ab;
$btn-bg-secondary-active: #ce2278;

$btn-fg-success: #ffffff;
$btn-fg-success-hover: #ffffff;
$btn-fg-success-active: #ffffff;

$btn-bg-success: #40ce27;
$btn-bg-success-hover: #6edd5a;
$btn-bg-success-active: #36b61f;

$btn-fg-danger: #ffffff;
$btn-fg-danger-hover: #ffffff;
$btn-fg-danger-active: #ffffff;

$btn-bg-danger: #ff4d4f;
$btn-bg-danger-hover: #ff7875;
$btn-bg-danger-active: #d9363e;

